body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.line {
  overflow: hidden;
}

.line-element {
  float: left;
    width: 80px;
    margin: 3px;
    padding: 3px;
    border: 1px solid black;
}